USE [DA_QLBida]
GO
/****** Object:  Table [dbo].[BANGDIEMCANAM]    Script Date: 12/13/2023 6:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEMCANAM](
	[MaHS] [nvarchar](20) NOT NULL,
	[MaMH] [int] NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
	[DiemTBCN] [float] NULL,
 CONSTRAINT [PK_BANGDIEMCANAM] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[MaMH] ASC,
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanToc]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanToc](
	[idDanToc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanToc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanToc] PRIMARY KEY CLUSTERED 
(
	[idDanToc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaBD] [int] IDENTITY(1,1) NOT NULL,
	[DiemMieng] [float] NULL,
	[Diem15p] [float] NULL,
	[Diem1Tiet] [float] NULL,
	[DiemThi] [float] NULL,
	[DanhGiaCuaGV] [ntext] NULL,
	[MaHS] [nvarchar](20) NOT NULL,
	[MaMH] [int] NOT NULL,
	[MaHK] [nvarchar](20) NOT NULL,
	[DiemTB] [float] NULL,
	[MaNH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[MaHS] [nvarchar](20) NOT NULL,
	[NghiCoPhep] [int] NOT NULL,
	[NghiKhongPhep] [int] NOT NULL,
	[BoTiet] [int] NOT NULL,
	[GhiChu] [ntext] NULL,
	[IDDiemDanh] [int] IDENTITY(1,1) NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DIEMDANH] PRIMARY KEY CLUSTERED 
(
	[IDDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [nvarchar](20) NOT NULL,
	[TenGV] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [nchar](12) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[Gmail] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[idDanToc] [int] NOT NULL,
	[Thumb] [nvarchar](max) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MaHky] [nvarchar](20) NOT NULL,
	[TenHky] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MaHky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MaHS] [nvarchar](20) NOT NULL,
	[HoVaTenDem] [nvarchar](100) NOT NULL,
	[TenHS] [nvarchar](20) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[idDanToc] [int] NOT NULL,
	[Thumb] [nvarchar](max) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUACANAM]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUACANAM](
	[MaHS] [nvarchar](20) NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
	[TBMCN] [float] NULL,
	[HocLuc] [nvarchar](20) NULL,
	[HanhKiem] [nvarchar](20) NULL,
	[XepLoai] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_KETQUACANAM] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUAHOCKY]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUAHOCKY](
	[MaHS] [nvarchar](20) NOT NULL,
	[TBMHK] [float] NULL,
	[MaHK] [nvarchar](20) NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
	[HocLuc] [nvarchar](20) NULL,
	[HanhKiem] [nvarchar](20) NULL,
 CONSTRAINT [PK_KETQUAHOCKY] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC,
	[MaHK] ASC,
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nvarchar](20) NOT NULL,
	[TenLop] [char](10) NOT NULL,
	[LopChuyen] [bit] NOT NULL,
	[TenLopChuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPCHUNHIEM]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPCHUNHIEM](
	[MaLopChuNhiem] [nvarchar](20) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[MaGV] [nvarchar](20) NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOPCHUNHIEM_1] PRIMARY KEY CLUSTERED 
(
	[MaLopChuNhiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MaNH] [nvarchar](20) NOT NULL,
	[TenNH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NAMHOC] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaPhanCong] [nvarchar](20) NOT NULL,
	[MaMH] [int] NOT NULL,
	[MaGV] [nvarchar](20) NOT NULL,
	[MaLop] [nvarchar](20) NOT NULL,
	[MaNH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITLEUSER]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLEUSER](
	[MaTitleUser] [int] IDENTITY(1,1) NOT NULL,
	[TenTitleUser] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TITLEUSER] PRIMARY KEY CLUSTERED 
(
	[MaTitleUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/13/2023 6:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[MaTitleUser] [int] NOT NULL,
	[MaGV] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BANGDIEMCANAM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMCANAM_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[BANGDIEMCANAM] CHECK CONSTRAINT [FK_BANGDIEMCANAM_HOCSINH]
GO
ALTER TABLE [dbo].[BANGDIEMCANAM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMCANAM_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[BANGDIEMCANAM] CHECK CONSTRAINT [FK_BANGDIEMCANAM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEMCANAM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMCANAM_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[BANGDIEMCANAM] CHECK CONSTRAINT [FK_BANGDIEMCANAM_NAMHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCKY] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HOCKY] ([MaHky])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCKY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCSINH]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_NAMHOC]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_HOCSINH]
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDANH_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[DIEMDANH] CHECK CONSTRAINT [FK_DIEMDANH_NAMHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DanToc] FOREIGN KEY([idDanToc])
REFERENCES [dbo].[DanToc] ([idDanToc])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_DanToc]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_DanToc] FOREIGN KEY([idDanToc])
REFERENCES [dbo].[DanToc] ([idDanToc])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_DanToc]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_LOP]
GO
ALTER TABLE [dbo].[KETQUACANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUACANAM_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[KETQUACANAM] CHECK CONSTRAINT [FK_KETQUACANAM_HOCSINH]
GO
ALTER TABLE [dbo].[KETQUACANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUACANAM_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[KETQUACANAM] CHECK CONSTRAINT [FK_KETQUACANAM_NAMHOC]
GO
ALTER TABLE [dbo].[KETQUAHOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCKY_HOCKY] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HOCKY] ([MaHky])
GO
ALTER TABLE [dbo].[KETQUAHOCKY] CHECK CONSTRAINT [FK_KETQUAHOCKY_HOCKY]
GO
ALTER TABLE [dbo].[KETQUAHOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCKY_HOCSINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOCSINH] ([MaHS])
GO
ALTER TABLE [dbo].[KETQUAHOCKY] CHECK CONSTRAINT [FK_KETQUAHOCKY_HOCSINH]
GO
ALTER TABLE [dbo].[KETQUAHOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCKY_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[KETQUAHOCKY] CHECK CONSTRAINT [FK_KETQUAHOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[LOPCHUNHIEM]  WITH CHECK ADD  CONSTRAINT [FK_LOPCHUNHIEM_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[LOPCHUNHIEM] CHECK CONSTRAINT [FK_LOPCHUNHIEM_GIAOVIEN]
GO
ALTER TABLE [dbo].[LOPCHUNHIEM]  WITH CHECK ADD  CONSTRAINT [FK_LOPCHUNHIEM_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[LOPCHUNHIEM] CHECK CONSTRAINT [FK_LOPCHUNHIEM_LOP]
GO
ALTER TABLE [dbo].[LOPCHUNHIEM]  WITH CHECK ADD  CONSTRAINT [FK_LOPCHUNHIEM_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[LOPCHUNHIEM] CHECK CONSTRAINT [FK_LOPCHUNHIEM_NAMHOC]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_LOP]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_MONHOC]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NAMHOC] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NAMHOC] ([MaNH])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NAMHOC]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_GIAOVIEN]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TITLEUSER] FOREIGN KEY([MaTitleUser])
REFERENCES [dbo].[TITLEUSER] ([MaTitleUser])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TITLEUSER]
GO
