@model IEnumerable<QLPhoThong.Models.HOCSINH>
@{
    ViewBag.Title = "Danh sách học sinh của lớp";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int i = 0;
}
@{ var user = Session["User"] as QLPhoThong.Models.User;}
<h2>Danh sách học sinh</h2>

<table class="table" style="margin-top:75px">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Học sinh</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;

            <tr>
                <td>#@i</td>
                <td>@item.TenHS</td>
                <td><a href="@Url.Action("XemBangDiemHocSinh","Lop", new {id = item.MaHS})">Xem điểm</a></td>
                <td><a href="@Url.Action("ThongTin","ThongTin", new {id = item.MaHS})">Xem thông tin học sinh</a></td>
            </tr>

        }
    </tbody>
</table>
<p>
    <a href="@Url.Action("LopChuNhiem","Lop", new {id = user.MaGV})">Quay lại danh sách học sinh</a>
</p>