@model IEnumerable<QLPhoThong.Models.PHANCONG>

@{
    ViewBag.Title = "Danh sách lớp";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Danh sách lớp</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên Lớp</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var lop in Model)
        {
            <tr>
                <td>@lop.LOP.TenLop</td>
                <td><a href="@Url.Action("DanhSachHocSinhPhuTrachDay","Lop", new {id = lop.MaLop})">Xem danh sách học sinh</a></td>

            </tr>
            
        }
    </tbody>
</table>
