@model IEnumerable<QLPhoThong.Models.LOPCHUNHIEM>

@{
    ViewBag.Title = "Danh sách lớp";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int i = 0;
}

@if (Model.Any())
{
    <div class="card" style="margin-top:75px;">
        <div class="card-body">
            <h4 style="text-align:center;">Danh sách lớp chủ nhiệm trong học năm học : <b>@Model.FirstOrDefault().LOP.PHANCONGs.FirstOrDefault().MONHOC.DIEMs.FirstOrDefault().NAMHOC.TenNH</b></h4>
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên Lớp</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lop in Model)
                            {
                                i++;
                                <tr>
                                    <th scope="row">#@i</th>
                                    <td>@lop.LOP.TenLop</td>
                                    <td>
                                        <a href="@Url.Action("DanhSachHocSinh","Lop", new {id = lop.MaLop})">
                                            <button class="btn btn-success btn-tone m-r-5">Xem chi tiết</button>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card" style="margin-top:75px;">
        <div class="card-body">
            <div class="alert alert-danger">
                <h4 style="text-align:center;"><b>Hiện chưa có lớp chủ nhiệm nào trong năm học</b></h4>
            </div>
        </div>
    </div>
}
