@{
    ViewBag.Title = "Home Page";
}

<div class="all-editor-webtube-item">
    <h1 class="title">Sổ liên lạc</h1>
    <div class="item text">
        <div class="item-header">vnEdu Connect</div>
        <div class="item-content">
            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;">
                <span style="font-family: arial;">
                    <span style="mso-fareast-font-family: 'Times New Roman';">M</span>ỗ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">i h</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">c sinh c&oacute; m</span>ộ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">t b</span>ộ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;"> H</span>ồ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;"> s</span>ơ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;"> ch</span>ứ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">a th&ocirc;ng tin v</span>ề
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;"> qu&aacute; tr&igrave;nh h</span>ọ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">c t</span>ậ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">p c</span>ủ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">a m&igrave;nh g</span>ọ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">i l&agrave; H</span>ọ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">c B</span>ạ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;"> Đi</span>ệ
                    <span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">n T</span>ử<span style="mso-fareast-font-family: 'Times New Roman';"> (HBĐT). <br /></span>
                </span>
            </p>
            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;">
                <span style="font-family: arial;">Ứ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">ng d</span>ụ<span style="mso-fareast-font-family: 'Times New Roman'; mso-bidi-font-family: Calibri;">ng </span></span>
                <span style="font-family: arial;">sổ li&ecirc;n lạc (SLL) gi&uacute;p phụ huynh tra cứu th&ocirc;ng tin trong HBĐT của con m&igrave;nh.</span>
            </p>
            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;"><span style="font-family: arial;">Để tra cứu th&ocirc;ng tin học sinh bạn c&oacute; thể sử dụng c&aacute;c c&ocirc;ng cụ:</span></p>
            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;"><span style="font-family: arial;">- <a href="http://vnedu.vn/so-lien-lac/">Tra cứu tr&ecirc;n web</a></span></p>
            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;"><span style="font-family: arial;">- C&agrave;i đặt ứng dụng&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.vnptit.vnedu.parent">vnEdu&nbsp;Connect</a>:</strong>&nbsp;&nbsp;</span></p>
            <p>
                <table style="width: 100%;">
                    <tr>
                        <td align="center">
                            <a href="https://play.google.com/store/apps/details?id=com.vnptit.vnedu.parent"><img src="/css/Images/googleplay.jpg" alt="" width="229" height="80" /></a>
                        </td>
                        <td align="center">
                            <a href="https://itunes.apple.com/us/app/vnedu-connect/id1448464007"><img src="/css/Images/ios.jpg" alt="Thiết bị IOS" width="226" height="80" /></a>
                        </td>
                    </tr>
                </table>
            </p>

            <p class="MsoNormal" style="font-family: tahoma, arial, verdana, sans-serif;"><strong><span style="font-family: arial;"><span style="mso-fareast-font-family: 'Times New Roman';">&nbsp;</span></span></strong></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="item text">
        <div class="item-content">
            <p><span style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">Để c&oacute; thể tra cứu SLLĐT tr&ecirc;n website thi PHHS cần phải đăng k&yacute; sử dụng SLLĐT</span><br /><br /></p>
            <div class="adv-sll">&nbsp;</div>
            <p><strong style="font-family: tahoma,arial,verdana,sans-serif; font-size: 12px;">A. Đăng k&yacute; dịch vụ SLLLĐT:</strong></p>
            <p>
                <strong><em><span style="font-size: 12px;">1.</span></em><em><span style="font-size: 12px;">&nbsp;Đăng k</span></em><em>&yacute; trực tiếp tr&ecirc;n Phần mềm quản l&yacute; trường</em> <em>học vnEdu</em>:</strong> th&ocirc;ng
                qua GVCN. Những học sinh n&agrave;y vừa c&oacute; thể tra cứu KQHT tr&ecirc;n website vừa c&oacute; thể nhận được tin nhắn từ hệ thống vnEdu.
            </p>

            <div>
                <strong style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;"><span style="background-color: #ffffff;">B. Tra cứu KQHT</span><br /></strong><span style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">Sau khi đ&atilde; đăng k&yacute; dịch vụ SLLĐT th&agrave;nh c&ocirc;ng, v&agrave;o thời điểm nh&agrave; trường cho ph&eacute;p c&ocirc;ng bố điểm thi tr&ecirc;n website th&igrave; PHHS c&oacute; thể tra cứu kết quả học tập tr&ecirc;n website</span>
                <strong style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;"><br />&nbsp;&nbsp;&nbsp; <br /></strong>
            </div>
            <div>
                <strong style="font-family: tahoma,arial,verdana,sans-serif; font-size: 12px;">1. Tra cứu tr&ecirc;n website:</strong>
                <ul style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">
                    <li>Mở tr&igrave;nh duyệt website (FireFox, Chrome) truy cập v&agrave;o địa chỉ: https://vnedu.vn/so-lien-lac/.</li>
                </ul>
                <ul style="color: #000000; font-family: tahoma, arial, verdana, sans-serif; font-size: 12px;">
                    <li>L&agrave;m theo c&aacute;c bước như trong h&igrave;nh minh họa dưới đ&acirc;y:</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="item photo">
        <div class="item-content">
            <img class="picture" src="/css/Images/huongdan.png">
        </div>
    </div>
    <div class="clear"></div>
    <div class="item text">
        <div class="item-content">
            <ul>
                <li>Bấm n&uacute;t&nbsp;<b>X&aacute;c nhận</b>.</li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="item text" style="display: none;">
        <div class="item-content">
            <p>
                <span style="color: #ff0000;"><span style="font-family: tahoma,arial,verdana,sans-serif;">Lưu &yacute;</span><em style="font-family: tahoma, arial, verdana, sans-serif; color: #000000;"><strong>:&nbsp;<br /></strong></em></span>
            </p>
            <ol>
                <li>
                    <span style="color: #ff0000;">
                        <span style="font-family: tahoma,arial,verdana,sans-serif;">
                            Để biết được m&atilde; học sinh bạn vui l&ograve;ng&nbsp;truy cập v&agrave;o trang website sau:&nbsp;<a href="http://vnedu.vn/gui-tin-nhan-lay-ma-hoc-sinh-tren-vnedu/"><span style="color: #ff0000;">http://vnedu.vn/gui-tin-nhan-lay-ma-hoc-sinh-tren-vnedu/</span></a>&nbsp;v&agrave;
                            l&agrave;m theo hướng dẫn của hệ thống hoặc&nbsp;li&ecirc;n hệ với thầy/c&ocirc; gi&aacute;o chủ nhiệm hoặc xem tr&ecirc;n Thẻ học sinh nếu nh&agrave; trường sử dụng chức năng In thẻ tử hệ thống vnEdu. M
                        </span>
                        <span style="font-family: tahoma,arial,verdana,sans-serif;">&atilde; học sinh&nbsp;phải&nbsp;l&agrave; m&atilde; của&nbsp;học sinh&nbsp;</span><span style="font-family: tahoma,arial,verdana,sans-serif;">trong n</span>
                        <span style="font-family: tahoma,arial,verdana,sans-serif;">ăm học cần tra cứu KQHT.</span>
                    </span>
                </li>
                <li style="font-family: tahoma, arial, verdana, sans-serif; color: #000000;"><span style="color: #ff0000;">Mật khẩu: Mặc đinh l&agrave; SĐT đ&atilde; đăng k&yacute; SLLĐT. Nếu muốn đổi mật khẩu:&nbsp;sử dụng&nbsp;SĐT&nbsp;đ&atilde;&nbsp;đăng k&yacute; sử dungj dịch vụ SLLĐT&nbsp;để&nbsp;soạn tin SMS với c&uacute; ph&aacute;p&nbsp;<strong>VNEDU MK</strong>&nbsp;&lt;Mật khẩu mới&gt; gửi&nbsp;<strong>8099</strong>&nbsp;(1000VNĐ/SMS). VD: Muốn&nbsp;đổi mật khẩu l&agrave;&nbsp;<strong>54321</strong>&nbsp;th&igrave;&nbsp;soạn tin nhắn sau:&nbsp;<strong>VNEDU MK</strong>&nbsp;54321&nbsp;gửi&nbsp;<strong>8099.</strong></span></li>
                <li style="font-family: tahoma, arial, verdana, sans-serif; color: #000000;"><span style="color: #ff0000;">Nếu qu&ecirc;n mật khẩu, soạn tin SMS với c&uacute; ph&aacute;p:&nbsp;<strong>VNEDU&nbsp;</strong><strong>MK</strong>&nbsp;gửi&nbsp;<strong>8099&nbsp;</strong>để lấy lại mật khẩu.</span></li>
            </ol>
        </div>
    </div>
    <div class="clear"></div>

</div>
<div class="clear"></div>