<!doctype html>
<html lang="vi">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"></meta>
    <meta content="telephone=no" name="format-detection"></meta>

    <title>Sổ liên lạc - Mạng giáo dục Việt Nam-Vietnam Education Network</title>
    <meta property="og:title" content="Sổ liên lạc - Mạng giáo dục Việt Nam - Viet Nam Education Network" />
    <meta name="description" content="Mạng giáo dục Việt Nam vnEdu được phát triển bởi tập đoàn VNPT nhằm cung cấp các sản phẩm, giải pháp, dịch vụ cho các đối tượng trong ngành giáo dục gồm: học sinh, phụ huynh, giáo viên và các cán bộ quản lý của Trường, PGD, SGD" />
    <meta property="og:description" content="Mạng giáo dục Việt Nam vnEdu được phát triển bởi tập đoàn VNPT nhằm cung cấp các sản phẩm, giải pháp, dịch vụ cho các đối tượng trong ngành giáo dục gồm: học sinh, phụ huynh, giáo viên và các cán bộ quản lý của Trường, PGD, SGD, vnedu" />

    <meta name="google-site-verification" content="npksn1AsIwG8TqWTWuFqJ7dHMd_zasyO4C7V8rBJ85s" />
    <meta name="google-site-verification" content="8YMSiDYVyJQ4AvOCeVdIiQnuf8vevdMNNHO7jsGq-1Y" />
    <meta name="google-site-verification" content="OOINewChQLK4QUqbWfIVwkoIHuS3KC49Y3vpknPTWqY" />
    <meta property="og:url" content="http://vnedu.vn//so-lien-lac" />
    <meta property="og:type" content="website" />
    <meta name="author" content="vsolutions.vn" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="~/Style/css/less/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0~/Style/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="~/Style/css/jquery.min.js"></script>
    <script type="text/javascript" src="~/Style/css/jquery.tipsy.js"></script>
    <script type="text/javascript" src="~/Style/css/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/layouts/881635~/Style/css/layout_881635.css?1" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3450777293596007" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body onresize="doWhenWidthChange()">
    <div style="display: none">
        <div id="community-id">1398038</div>
        <div id="truelife-id">kHJQV3irhXIextvAwgOjX6kN/q6hDfM0g6UN/2SnceBNf|tvjKZ5Z0NS2qdcCTSZ</div>
        <div id="page-title">Sổ liên lạc</div>
        <div id="folder-name"></div>
        <div id="tlf-is-comment">0</div>
    </div>
    <div style="display: none">
        <div id="friend-post">0</div>
    </div>
    <nav class="navbarTop">
        @Html.Partial("_NavPartialView")
    </nav>
    <!--Search <nav id="searchOnOff" class="navbarTop stickTop notShow">
        <div class="container">
            <div class="col-xs-12">
                <form class="searchBar2" action="#">
                    <input type="text" placeholder="T&igrave;m kiếm trường học">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </nav>-->
    <div class="container body-content">
        <main>
            <div class="container mainContainer">
                @Html.Partial("_LeftSoLienLacPartialView")
                <div class="col-xs-10 secondCol soLienLacSecondCol">
                    @RenderBody()
                </div>


                <script type="text/javascript" src="~/Style/css/velocity.min.js"></script>
                <script type="text/javascript" src="~/Style/css/custom_9.js"></script>
                <script type="text/javascript" src="~/Style/css/head.js">

                </script>
                <!--<script type="text/javascript" src="http://cdn.truelife.vn/file/201810/3552705/vnedu.main.js?dc=201810">.</script>-->
                <script type="text/javascript" src="~/Style/css/main.js?dc=20191101415158"></script>

                <script type="text/javascript">
                    $('.barAvatar img').attr('src', $('.barAvatar img').data('src'));
                </script>




                <script type="text/javascript" src="~/Style/css/head.js"></script>



                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130176911-2"></script>
                <script language="javascript">
                    /* 1var page_title = ($("#page-title").html()).replace(/\"/igm, '');
                                                                                        var stats_src = 'http://stats.truelife.vn/offica/statistic/action?_f=2&amp;s=1398038&amp;u=1398038&amp;c=0&amp;p=kHJQV3irhXIextvAwgOjX6kN/q6hDfM0g6UN/2SnceBNf|tvjKZ5Z0NS2qdcCTSZ&amp;t=' + page_title + '&amp;m=2&amp;cp=' + Math.random();
                                                                                        var r = "truelife";
                                                                                        if (document.referrer) {
                                                                                            r = escape(document.referrer);
                                                                                        }

                                                                                        document.getElementById("stat_img").setAttribute("src", stats_src.replace("_referrer_", r));*/

                    window.dataLayer = window.dataLayer || [];

                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag('js', new Date());
                    gtag('config', 'UA-130176911-2');

                    /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                              ga('create', 'UA-3224519-66', 'vnedu.vn');
                              ga('send', 'pageview');*/
                </script>
            </div>
        </main>
    </div>
    <hr />
    <footer>
        @Html.Partial("_FooterPartiaView")
    </footer>




    <link href="~/Style/css/dist/bootstrap.css" rel="stylesheet" />
    <script src="~/Style/css/custom_9.js"></script>
    <script src="~/Style/css/head.js"></script>
    <script src="~/Style/css/jquery.min.js"></script>
    <script src="~/Style/css/jquery.tipsy.js"></script>
    <script src="~/Style/css/main.js"></script>
    <script src="~/Style/css/velocity.min.js"></script>
    <link href="~/Style/css/layout_881635.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>