<div class="col-xs-2 leftCol soLienLacLeftCol">
    <script type="text/javascript" src="~/Style/css/head.js"></script>
    <div class="rightPanel">
        <div class="panelContent">
            <div class="sll-form-seach">
                <div class="header_form ">Tra cứu kết quả học tập</div>
                <div class="sll-box-search" style="overflow: hidden;">
                    <form method="post" action="@Url.Action("SearchByPhoneNumber", "Home")" id="form-search-solienlac">
                        <input type="hidden" name="csrf" id="csrf" value="d63d290d43e65d740568db1ac3b4d98a" />
                        <div class="input-group vnedu-search">
                            <strong style="color:white">Nhập số điện thoại</strong>
                            <input type="text" id="keyword" name="phoneNumber" class="key" placeholder="Nhập số điện thoại">
                        </div>
                        <div class="input-group vnedu-search">
                            <strong style="color:white">Chọn năm học</strong>
                            <select name="namhoc" class="form-control">
                                <option value="">-- Chọn năm học --</option>
                                <option value="NH23|24">Năm học 2023 - 2024</option>
                            </select>
                        </div>
                        <span class="input-group-btn" style="text-align:right">
                            <input type="submit" value="Tra cứu" id="submit" class="btn btn-success">
                        </span>
                        <strong>@ViewBag.ThongBao</strong>
                    </form>
                    <script type="text/javascript">
                        var grecaptchaId;
                        var onloadCallback = function () {
                            grecaptchaId = grecaptcha.render('html_element', {
                                'sitekey': '6LdpUDQlAAAAAPXLqchka1WLgJW6hKswpPSx8-IX',
                            });
                        };
                        $('.vnedu-search .key')
                            .keypress(function () {
                                vneduSearchClose(this);
                            })
                            .focusout(function () {
                                vneduSearchClose(this);
                            })
                            .blur(function () {
                                vneduSearchClose(this);
                            });

                        function vneduSearchClose(obj) {
                            if ($(obj).val() != '') {
                                $('.vnedu-search .close').css('display', 'inline-block')
                            } else {
                                $('.vnedu-search .close').css('display', 'none');
                            }
                        }

                        $("#keyword").focus(function () {
                            $("#form-search-solienlac #submit").addClass('btn-info');
                        });
                        $("#keyword").blur(function () {
                            $("#form-search-solienlac #submit").removeClass('btn-info');
                        });
                    </script>
                    <div class="label" style="display: block; font-size: 11px; margin-top: 5px; text-align: right">
                    </div>
                </div>
                <div class="result-search">
                    <ul id="sll-list-item"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rightPanel">
        <div class="panelHeader">
            <h4>HỖ TRỢ KỸ THUẬT</h4>
        </div>
        <div class="panelContent">
            <ul>
                <li>
                    <a href="tel:0352931831">
                        <div class="textWrap">
                            <span class="imgWrap fa fa-lg fa-phone-square"></span>
                            <span class="textWrap">Hotline giờ giải lao: <span class="hotline">0352931831</span> </span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panelContent">
            <ul>
                <li>
                    <a href="tel:0364584623">
                        <div class="textWrap">
                            <span class="imgWrap fa fa-lg fa-phone-square"></span>
                            <span class="textWrap">Hotline giờ giải lao: <span class="hotline">0364584623</span> </span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="">

        <a href="/" target="_blank">
            <center><img src="/" style="width: 300px; height: 250px; margin-bottom: 10px;"></center>
        </a>

        <a href="/" target="_blank">
            <center><img src="/" style="width: 300px; height: 250px; margin-bottom: 10px;"></center>
            </span>
        </a>

        <a href="/;hl=vi" target="_blank"><img src="/" style="width: 300px; height: 250px; margin-bottom: 10px;"></a>

        <a href="/" target="_blank"><img src="/" style="width: 300px; height: 250px; margin-bottom: 10px;"></a>
    </div>

</div>
