<div class="col-xs-2 leftCol soLienLacLeftCol">
    <script type="text/javascript" src="~/Style/css/head.js"></script>
    @Html.Action("SearchByPhoneNumber","Home")

    <div class="rightPanel">
        <div class="panelHeader">
            <h4>HỖ TRỢ KỸ THUẬT</h4>
        </div>
        <div class="panelContent">
            <ul>
                <li>
                    <a href="tel:0352931831">
                        <div class="textWrap">
                            <span class="imgWrap fa fa-lg fa-phone-square"></span>
                            <span class="textWrap">Hotline giờ giải lao: <span class="hotline">0352931831</span> </span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panelContent">
            <ul>
                <li>
                    <a href="tel:0364584623">
                        <div class="textWrap">
                            <span class="imgWrap fa fa-lg fa-phone-square"></span>
                            <span class="textWrap">Hotline giờ giải lao: <span class="hotline">0364584623</span> </span>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="">

        <a href="/" target="_blank">
            <center><img src="~/Areas/Style/assets/images/others/ThemeSoLienLac1.jpg" style="width: 300px; height: 250px; margin-bottom: 10px;"></center>
        </a>
        <a href="/" target="_blank">
            <center><img src="~/Areas/Style/assets/images/others/ThemeSoLienLac2.jpg" style="width: 300px; height: 250px; margin-bottom: 10px;"></center>
            </span>
        </a>

    </div>

</div>
