
<div class="col-xs-4 navbarTopRight">
    <center><a href="/"><span class="logo"><img src="~/Style/css/tracuu/vnedulogo.png" alt=""></span></a></center>
</div>
<div class="col-xs-5 navbarTopRight">
    <div class="userGroup pull-right">
        
        <div class="loginList">
            <a href="@Url.Action("Login","Login")">Đăng nhập</a>
            <a href="@Url.Action("Index" , "Home", new { area = "Admin" })">Admin</a>
            <a href="@Url.Action("Index" , "Home", new { area = "Teacher" })">Teacher</a>
        </div>
        
    </div>
</div>