@model QLPhoThong.Models.KETQUAHOCKY
<h4 style="text-align:center;">KẾT QUẢ HỌC TẬP HỌC KỲ 1</h4>
<div class="m-t-25">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Điểm trung bình học kỳ 1</th>
                    @if (Model.TBMHK < 5)
                    {
                        <th scope="col" style="color:red;"><b>@String.Format("{0:N1}", Model.TBMHK)</b></th>
                    }
                    else
                    {
                        <th scope="col"><b>@String.Format("{0:N1}", Model.TBMHK)</b></th>
                    }

                </tr>
                <tr>
                    <th scope="col">Xếp loại học kỳ 1</th>
                    <th scope="col">@Model.Xeploai</th>
                </tr>
            </thead>
        </table>
    </div>
</div>